{% extends "base.html" %}
{% block page_heading %}<title>Home</title>
{% endblock %}


{% block main_body %}
<div class= "home">

<h2><span>Created by: Alexander Lay</span></h2>
<h2><span>Student Number: S253460</span></h2>
<p>I chose to do Casinos because I work in one.</p>

<p>In a casino there are many ways to lose your money, so I thought I would share just a few.</p> <br>

<p>A fantastic way to burn your money is by playing at a table game.
 A table game is a game operated by a person on a table.</p>
<p>
You lose your money faster if you don't know the rules and are drunk like there's no tommorrow
  (which is a majority of people)</p> <br>

<p>Casino restaurants are also a magnificent way to throw away your hard earned cash,
  as menu items are usually ridiculously overpriced for no apparent reason</p>

<p>A typical casino has at least 1 or many table games and at least 1 or many restaurants.
  The more table games and restaurants, the more money the casino can take from you</p>

  <p>In this case, a table game and restaurant must belong to a casino</p>

<h4>Gamble responsibly</h4>
<h5>or not</h5>
</div>

{% endblock %}
